{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Client {{ client_id }} | Appointment {{ appointment['date_timestamp'] }}{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="soap_s">SOAP_S</label>
    <input name="soap_s" id="soap_s" type="text" value="{{ request.form['soap_s'] or appointment_details['soap_s'] }}" disabled>
    <label for="soap_o">SOAP_O</label>
    <input name="soap_o" id="soap_o" type="text" value="{{ request.form['soap_o'] or appointment_details['soap_o'] }}" disabled>
    <label for="soap_a">SOAP_A</label>
    <input name="soap_a" id="soap_a" type="text" value="{{ request.form['soap_a'] or appointment_details['soap_a'] }}" disabled>
    <label for="soap_p">SOAP_P</label>
    <input name="soap_p" id="soap_p" type="text" value="{{ request.form['soap_p'] or appointment_details['soap_p'] }}" disabled>
  </form>
{% endblock %}
