{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Client {{ client_id }} | Appointments & Consultations{% endblock %}</h1>
    <a class="view-link back-link" href="{{ url_for('create_appointment_view', client_id = client_id) }}">Create Appointment</a>
    <a class="view-link" href="/">Back</a>
{% endblock %}

{% block content %}
  {% for appointment in appointments %}
    <article class="post">
      <header>
        <div>
          <h1>{{ appointment['vat_doctor'] }}</h1>
          <div class="about">{{ appointment['doctor_name'] }}</div>
          <div class="about">{{ appointment['date_timestamp'] }}</div>
        </div>
        <a class="view-link" href="{{ url_for('consultation_details_view', client_id=client_id, consultation_date=appointment['date_timestamp'], doctor_id=appointment['vat_doctor']) }}">View Details</a>
      </header>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}

