{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Create Appointment | Client {{ client_id }}{% endblock %}</h1>
{% endblock %}

{% block content %}
{% if not doctors %}
<form method="post" action="{{url_for('create_appointment_view', client_id = client_id)}}">
    <label for="date">Date:</label>
    <input type="date" id="date" name="date" value="{{ request.form['date'] }}" required>

    <label for="time">Time:</label>
    <select id="time" name="time" required>
        {% for hour in range(9, 18) %}
        <option value="{{ '%02d:00' % hour }}">{{ '%02d:00' % hour }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Check Next">
</form>
{% endif %}

{% if doctors %}
<form method="post" action="{{url_for('create_appointment_view', client_id = client_id)}}">
    <input type="hidden" name="date" value="{{ request.form['date'] }}">
    <input type="hidden" name="time" value="{{ request.form['time'] }}">

    <label for="doctor_id">Doctors*</label>
    <select id="doctor_id" name="doctor_id" required>
        {% for doctor in doctors %}
        <option value="{{ doctor['vat_id'] }}">{{ doctor['name'] }}</option>
        {% endfor %}
    </select>

    <label for="description">Description*</label>
    <textarea id="description" name="description" size="512" required>{{ request.form['description'] }}</textarea>

    <input type="submit" value="Create Appointment" name="create_appointment" >
</form>
{% endif %}

{% if error_message %}
<div>{{ error_message }}</div>
{% endif %}

{% endblock %}

